apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  DATABASE_URL: mysql://vickytronic:Vignesh123!@terraform-20260209114231967400000009.cy3g00wiie5h.ap-south-1.rds.amazonaws.com:3306/lmsdb?ssl-mode=REQUIRED
